<h1>Tasks#show</h1>

<ul>
  <li>Name: <%= @task.name %></li>
  <li>Description: <%= @task.description%></li>
  <li>Completion Status: <%= @task.completion_status%></li>
  <li>Completion Date: <%= @task.completion_date%></li>
</ul>

<p>
<%= button_to "Edit", task_edit_path(@task)%>
<%= button_to "Destroy", task_path(@task), method: :delete, data: { :confirm => 'are you really sure?'} %>
</p>
